body {
    background-color: lightblue;
    font-family: 'Lobster', cursive;
    font-color:white;
    margin: 0; height: 100%; overflow: hidden

}
#centerfold{

}
#weathericon{
 margin-top: 8vh;
 width: 40vw;
 opacity: 0.70;

}
p{
	 opacity: 0.70;
}
h1{
	 opacity: 0.70;
}

}